---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 90%;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size:1.1rem
    }
}

.status-ok {
    color: #4c1;
    font-weight: bold;
}

.status-warning {
    color: #f90;
    font-weight: bold;
}

.status-bad {
    color: #d11;
    font-weight: bold;
}